# Secrets - nunca versionar
.env
*firebase-adminsdk*.json
frontend-mobile/android/app/google-services.json

# Entornos / IDEs
.idea/
*.iml
.vscode/
.DS_Store

# Node / JS
node_modules/

# Java / Gradle
*.class
*.log

# Builds
build/
dist/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/

# Firebase CLI / Emulador
.firebase/
firebase-debug.log
firebase-debug.*.log

# Cloud Functions (Node/TypeScript build)
functions/lib/