openapi: 3.0.0
info:
  title: PaTodo - Cloud Functions HTTP
  description: |
    Documentación de las Cloud Functions HTTP de PaTodo.

    La mayoría de operaciones (lectura, escritura simple, autenticación) se realizan
    directamente desde los clientes React y Flutter usando los SDKs de Firebase
    (Firebase Auth, Cloud Firestore). Este documento solo describe las operaciones
    críticas expuestas como Cloud Functions HTTP, que requieren lógica de servidor
    (transacciones, notificaciones, cálculos externos).

    Autenticación: Firebase Auth gestiona los tokens. Las Cloud Functions verifican
    el ID token enviado en el header Authorization: Bearer <idToken>.
  version: 0.2.0
servers:
  - url: https://us-central1-pa-todo.cloudfunctions.net
    description: Cloud Functions en producción
  - url: http://localhost:5001/pa-todo/us-central1
    description: Emulador local de Cloud Functions
tags:
  - name: users
    description: Registro y gestión de usuarios
  - name: jobs
    description: Operaciones críticas sobre trabajos
  - name: offers
    description: Aceptación y rechazo de ofertas
  - name: reviews
    description: Creación de reseñas y actualización de reputación
  - name: routes
    description: Cálculo y almacenamiento de rutas
  - name: notifications
    description: Envío de notificaciones push

paths:
  # ===================== USUARIOS =====================
  /createUser:
    post:
      tags: [users]
      summary: Registrar un nuevo usuario
      description: |
        Crea el usuario en Firebase Auth, asigna el rol inicial como Custom Claim
        y crea su documento en la colección `users`.
        El rol por defecto es `client`. No requiere autenticación.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 6
                displayName:
                  type: string
                role:
                  type: string
                  enum: [client, worker, both]
                  default: client
              required: [email, password]
      responses:
        '201':
          description: Usuario creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                  email:
                    type: string
                  role:
                    type: string
        '400':
          description: Datos inválidos (falta email/password, password corto)
        '409':
          description: El correo ya está registrado

  # ===================== TRABAJOS =====================
  /acceptOffer:
    post:
      tags: [offers]
      summary: Aceptar una oferta (Cloud Function transaccional)
      description: |
        Acepta una oferta específica para un trabajo. En una sola transacción:
        - Actualiza el trabajo a estado accepted y asigna workerId y acceptedOfferId.
        - Marca la oferta aceptada como accepted y las demás como rejected.
        - Crea la conversación entre cliente y trabajador.
        - Envía notificaciones push al trabajador y a los demás oferentes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobId:
                  type: string
                offerId:
                  type: string
              required: [jobId, offerId]
      responses:
        '200':
          description: Oferta aceptada, trabajo actualizado
          content:
            application/json:
              schema:
                $ref: './schemas/job.json'
        '403':
          description: El usuario no es el cliente dueño del trabajo
        '404':
          description: Trabajo u oferta no encontrados
        '409':
          description: El trabajo ya no está en estado pending

  /cancelJob:
    post:
      tags: [jobs]
      summary: Cancelar un trabajo
      description: |
        Cancela un trabajo y todas sus ofertas pendientes. Notifica a los
        trabajadores que habían ofertado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobId:
                  type: string
                reason:
                  type: string
              required: [jobId]
      responses:
        '200':
          description: Trabajo cancelado

  /completeJob:
    post:
      tags: [jobs]
      summary: Marcar un trabajo como completado
      description: |
        El trabajador o cliente marca el trabajo como completado. Actualiza el
        estado, cierra la conversación y habilita las reseñas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobId:
                  type: string
              required: [jobId]
      responses:
        '200':
          description: Trabajo completado

  # ===================== RESEÑAS =====================
  /createReview:
    post:
      tags: [reviews]
      summary: Crear una reseña y actualizar reputación
      description: |
        Crea una reseña y actualiza en una transacción:
        - El documento de reviews.
        - El promedio de rating y ratingCount del usuario calificado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/review.json'
      responses:
        '201':
          description: Reseña creada y reputación actualizada
        '403':
          description: No autorizado para calificar este trabajo
        '409':
          description: Ya existe una reseña para este trabajo por este usuario

  # ===================== RUTAS =====================
  /computeRoute:
    post:
      tags: [routes]
      summary: Calcular y almacenar la ruta de un trabajo
      description: |
        Calcula la ruta entre el trabajador y el lugar del trabajo usando OSRM,
        y guarda la geometría como campo `route` dentro del documento del job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobId:
                  type: string
              required: [jobId]
      responses:
        '200':
          description: Ruta calculada y almacenada
          content:
            application/json:
              schema:
                type: object
                properties:
                  distance:
                    type: number
                    description: Distancia en metros
                  duration:
                    type: number
                    description: Duración en segundos
                  geometry:
                    type: object
                    description: GeoJSON LineString con las coordenadas
